*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.ajuda-suporte{
    display: inline-block;
    margin-right:5%;
  
}

.minha-conta{
    display: inline-block;
    margin-right:5%;
   
}

.conteudo-institucionais{
    display: inline-block;
    margin-right:5%;
}

.conteudo-loja{
    display: inline-block;
    margin-right:5%;

}

.conteudo-tendencias{
    display: inline-block;
    margin-right:5%;
   

}
.footer{
    background-color: #2b3034;
    width: 100vw;
    height: 300px;
    padding: 3%;
    display: flex;
    flex-direction:row;
    color: #dae5e7
    
  
}

footer h1{
    margin-bottom: 5%;
}

.ajuda{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    
}

.conta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    
   
}
.institucionais{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
   
   
}

.loja{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
  
   
}

.tendencias{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
  
   
}
.img{
    width: 30px;
    font-size: 130%;
    margin-top: 5%;
 
}

.titulo{
    display: inline-block;
    margin-right:5%;
}


.paragrafo{
    font-size: 90%;

    
    
}
.final{
    background-color: rgb(121, 129, 165);
    margin-top: 1%;
    display: inline-block;
    padding: 3%;

    
  
    
  
}
