* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #2B3034;
    /* #B5AB92 */
}

/* Cabeçalho */

header {
    padding: 0 20px;
    background-color: #DAE5E7;
    height: 120px;
    width: 100vw;
}

/* Links do cabeçalho */

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header-esq ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

.header-esq ul a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 10px;
    border-radius: 5px;
}

.header-esq ul li {
    padding: 1.3em;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-esq ul li:hover {
    background-color: #2B3034;
    color: #FFFFFF;
}

.header-dir {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-dir ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    margin-bottom: 30px;
}

.header-dir a {
    width: 20px;
    height: 20px;
    margin-right: 80px;
    transition: transform 0.3s;
}

.header-dir li {
    width: 100%;
    height: 100%;
}

.header-dir li img {
    width: 55px;
    height: 55px;
    transition: width 0.3s, height 0.3s, transform 0.3s;
}

.header-dir a:hover {
    transform: translateX(-5px);
}

.header-dir li img:hover {
    width: 65px;
    height: 65px;
    transform: translateY(-5px);
}

/* Imagem Logo do cabeçalho */

.img-logo img {
    position: absolute;
    transform: translateX(42vw);
    
    height: 120px;
    width: 180px; 
 }

 /* MAIN */

 main h2 {
    padding: 20px;
    text-align: center;
    margin: 60px;
    font-size: 2rem;
}

/* ------banner-outono-------- */

.banner-outono {
    height: 600px;
    justify-content: center;
    border: 1px solid blue
}  

.banner-outono img {
    height: 600px;
    width: 100%;
}

/* ---------galeria-------- */

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(to left, rgb(25, 64, 86), rgb(136, 105, 196 ));
} 

.galeria img {
    padding: 10px;
    margin: 10px;
}

.galeria img:hover {
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
}

/*--------Mexe aqui Gustavo---------*/
.sobreNos {
    display: flex;

}

.quemsomos {
    text-align: center;
}
/*--------Até aqui Gustavo--------*/

 /* FOOTER */

.div-footer{
    display: inline-block;
    margin-right:5%;
}

.footer{
    background-color: #2b3034;
    width: 100vw;
    height: 300px;
    padding: 3%;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    color: #dae5e7;
}

footer h1{
    margin-bottom: 5%;
}

.subtitulo{
    color: #dae5e7;
    font-family: inherit;
    font-size: 130%;
}

.img{
    width: 20px;
    font-size: 130%;
    margin-top: 5%;
}

.titulo{
    display: inline-block;
    margin-right:5%;
}

.paragrafo{
    color: #dae5e7;
    font-family: inherit;
    font-size: 80%;   
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#link-rede{
    color: #dae5e7;
    font-family: inherit;
    font-size: 80%;
}

.final{
    background-color: rgb(121, 129, 165);
    display: inline-block;
    padding: 1%;
    font-size: 90%;
    width: 100vw;
}