* {
    box-sizing: border-box;
    margin: 0;
    padding: 0

}

/* ------section-------- */

section {
    height: 600px;
    justify-content: center;
    border: 1px solid blue
}  

section img {
    height: 600px;
    width: 100%;
}

/* ---------div galeria-------- */


h2 {
    padding: 20px;
    text-align: center;
    margin: 60px;
    font-size: 2rem;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(to left, rgb(25, 64, 86), rgb(136, 105, 196 ));
} 

.galeria img {
    padding: 10px;
    margin: 10px;
}

.galeria img:hover {
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
}

