* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #2B3034;
    /* #B5AB92 */
}

/* body {
    min-width: 950px;
} */

/* Cabeçalho */

header {
    display: grid;
    grid-template-columns: 0.75fr 1.5fr 0.75fr;
    background-color: #DAE5E7;
    width: 100vw;
    overflow: hidden;
}

/* Parte esquerda */
.header-esq {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    text-transform: uppercase;
}

.header-esq a {
    text-decoration: none;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.header-esq a div {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.5em;
    color: inherit;
}

.header-esq a:hover {
    background-color: #2B3034;
    color: #DAE5E7;
}

/* Parte do meio */
.img-logo {
    text-align: center;
}
.img-logo img {
    height: 120px;
    width: 180px; 
 }

/* Parte da direita */
.header-dir {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-dir a {
    width: auto;
    height: 100%;
    transition: transform 0.3s;
    padding: 0 0.5em;
}

.header-dir a div {
    height: 100%;
    display: flex;
    align-items: center;
    
}

.header-dir a div img {
    width: 55px;
    height: 55px;
    transition: width 0.3s, height 0.3s, transform 0.3s;
}

.header-dir a:hover {
    transform: scale(1.2)
}

 /* MAIN */

main {
    padding: 10px;
}

main h2 {
    padding: 20px;
    text-align: center;
    margin: 60px;
    font-size: 2rem;
}

/* ------banner-namorados-------- */

.banner-namorados {
    height: 700px;
    justify-content: center;
}  

.banner-namorados img {
    height: 100%;
    width: 100%;
}

.banner-namorados-responsivo {
    display: none;
}

.banner-namorados-responsivo img {
    width: 100vw;
}

/* ---------galeria-------- */

.galeria-container {
    padding: 0;
    background-image: url('./img/fundo-sobrenos.png');
    border: 1px solid transparent;
}

.galeria-container h2{
    color: #DAE5E7;
    margin: 3vw;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
    column-gap: 10vw;
    height: 680px;
} 

.galeria div {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
}

.galeria div:first-child {
    background-image: url('./img/Para\ Homens.png');
    background-size: cover;
}

.galeria div:last-child {
    background-image: url('./img/Para\ Mulheres.png');
    background-size: cover;
}

.imagem-galeria {
    transition: transform 0.5s, box-shadow 0.5s;
    border: none;
}

.imagem-galeria:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 50px 5px rgba(255,255,255, 0.7256);
    -moz-box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.726);
    box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.726);
}

/*--------Mexe aqui Gustavo---------*/
.quem-somos {
    display: flex;
    background-image: linear-gradient(to left, rgb(25, 64, 86), rgb(136, 105, 196 ));
    align-items: center;
    
    
}

.sobreNos-imagem h2 {
    display: none;
}

.sobreNos-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #DAE5E7;
    background-color: rgb(100, 100, 100, 0.35);
    border-radius: 20px;
    margin: 5% 5% 5% 5%;
    border: 1px solid rgb(255, 255, 255, 0.35);
    padding-left: 3%;
    
}

.sobreNos-texto h3 {
    margin-bottom: 3%;
    color: inherit;
}

.sobreNos-texto h4 {
    color: inherit;
}

.sobreNos-texto p {
    margin: 2%;
    color: inherit;
}

.sobreNos-texto p:first-child {
    margin: 5% 2% 2% 0;
}


/*--------Até aqui Gustavo--------*/

 /* FOOTER */

.div-footer{
    display: inline-block;
    margin-right:5%;
}

.footer{
    background-color: #2b3034;
    width: 100vw;
    padding: 3%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction:row;
    color: #dae5e7;
}

footer h1{
    margin-bottom: 5%;
}

.subtitulo{
    color: #dae5e7;
    font-family: inherit;
    font-size: 130%;
}

.img{
    width: 20px;
    font-size: 130%;
    margin-top: 5%;
}

.titulo{
    display: inline-block;
    margin-right:5%;
}

.paragrafo{
    color: #dae5e7;
    font-family: inherit;
    font-size: 80%;   
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#link-rede{
    color: #dae5e7;
    font-family: inherit;
    font-size: 80%;
}

.final{
    background-color: rgb(121, 129, 165);
    display: inline-block;
    padding: 1%;
    font-size: 90%;
    width: 100vw;
    text-align: center;
}

/* Responsividade */

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header-esq {
        grid-area: mascfem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50px;
        justify-content: center;
    }
    
    .header-esq a div {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #ced9db;
    }
    .img-logo {
        grid-area: logo;
    }
    .img-logo img {
        height: 90px;
        width: 135px; 
     }
    .header-dir {
        grid-area: botoes;
        align-items: center;
    }
    .header-dir a div img {
        width: 40px;
        height: 40px;
        transition: width 0.3s, height 0.3s, transform 0.3s;
    }
    header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'logo botoes'
                             'mascfem mascfem';
    }
    main {
        padding: 0;
    }
    .banner-namorados {
        display: none;
    }
    .banner-namorados-responsivo {
        display: block;
    }
	.galeria div {
        width: 300px;
        height: 299px;
    }  
    .galeria {
        row-gap: 5px;
    }
    .sobreNos-imagem {
        margin-top: 2%;
    }
    .sobreNos-imagem h2 {
        display: block;
        color: #DAE5E7;
        margin: 10px;
    }
    .sobreNos-imagem img {
        display: none;
    }
    .quem-somos {
        flex-wrap: wrap;
        justify-content: center;

    }
    .sobreNos-texto {
        background-color: rgb(100, 100, 100, 0.15);
        border: 1px solid rgb(255, 255, 255, 0.15);
        
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;

    }
    .div-footer {
        justify-content: center;
        text-align: center;
    }
    .paragrafo {
        margin-bottom: 10px;
    }
}

@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    .header-esq {
        grid-area: mascfem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50px;
        justify-content: center;
    }
    
    .header-esq a div {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #ced9db;
    }
    .img-logo {
        grid-area: logo;
    }
    .header-dir {
        grid-area: botoes;
        align-items: center;
    }
    header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'logo botoes'
                             'mascfem mascfem';
    }
	.galeria div {
        width: 320px;
        height: 318px;
    }
    .galeria {
        row-gap: 10px;
        column-gap: 5vw;
        height: 680px;
    }
    .sobreNos-imagem img {
        width: 30vw;
        height: 30vw;
    }
    .sobreNos-texto {
        background-color: rgb(100, 100, 100, 0.15);
        border: 1px solid rgb(255, 255, 255, 0.15);
        
    }
}

@media screen and (min-device-width : 801px) and (max-device-width: 1270px) {
	.galeria div {
        width: 360px;
        height: 358px;
    }
    .galeria {
        column-gap: 5vw;
        height: 680px;
    }
    .sobreNos-imagem img {
        width: 30vw;
        height: 30vw;
    }
    
}